# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
pnpm-debug.log*

# Caches & output
.eslintcache
.nyc_output
.npm
.node_repl_history
coverage/
.cache/
.dist-ssr
dist/

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*.local
